proje1/node_modules
proje1/package-lock.json
proje1/public/script.js

proje2/node_modules
proje2/package-lock.json
proje4/public/script.js

proje3/node_modules
proje3/package-lock.json
proje4/public/script.js

proje4/node_modules
proje4/package-lock.json
proje4/public/script.js

proje5/node_modules
proje5/package-lock.json
proje5/public/script.js