@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

html {
    margin: 10px;
    font-family: 'Varela';
}

.dayOfMonth {
    margin: 10px;
    width: 80px;
    height: 80px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    color: #000;
    cursor: default;
}

.selected {
    background: darkgray;
    color: white;
    cursor: pointer;
}